{{ define "main" }}

<style>
    main.main {
        max-width: 75%;
        padding: 0; 
    }

    .gallery-intro {
        box-sizing: border-box;
        padding: 8rem 2rem; 
        max-width: 800px;   
        margin: 0 auto;    
        text-align: center;
    }



    .archive-grid {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem; 
        

        column-count: 3;
        column-gap: 3rem;
    }


    .archive-item {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 3rem;
        break-inside: avoid;
    }

    .archive-item img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.4s ease-in-out;
    }
    

    .archive-item-overlay {
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
    .archive-item-title { font-size: 1.25rem; font-weight: bold; margin: 0; }
    .archive-item-date { font-size: 0.9rem; margin-top: 0.5rem; color: #ddd; }
    .archive-item:hover img { transform: scale(1.05); }
    .archive-item:hover .archive-item-overlay { opacity: 1; }


    @media (max-width: 1200px) { .archive-grid { column-count: 3; } }
    @media (max-width: 992px) { .archive-grid { column-count: 2; } }
    @media (max-width: 600px) { 
        .archive-grid { 
            column-count: 1;
            padding: 0.5rem;
        }
         .archive-item {
            margin-bottom: 0.5rem;
        }
    }
</style>


 <div class="gallery-intro">
    {{ .Content }}
</div>

<div class="archive-grid">
    <a href="#" class="archive-item">
        <img src="/Aboutme/image19" alt="Project 1">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Forth Bridge</p>
            <p class="archive-item-date">2024</p>

        </div>
    </a>

    <a href="#" class="archive-item">
        <img src="/Aboutme/image3" alt="Project 2">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Palace Museum</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
 
    <a href="#" class="archive-item">
        <img src="/Aboutme/image9" alt="Project 3">
        <div class="archive-item-overlay">
            <p class="archive-item-title">BaiJia Lake</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>

    <a href="#" class="archive-item">
        <img src="/Aboutme/image4" alt="Project 4">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Palace Museum</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>

    <a href="#" class="archive-item">
        <img src="/Aboutme/image2" alt="Project 5">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Nanjing Himalayas</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>

    <a href="#" class="archive-item">
        <img src="/Aboutme/image6" alt="Project 6">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Xuanwu Lake</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    
    <a href="#" class="archive-item">
        <img src="/Aboutme/image7" alt="Project 7">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Palace Museum</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image8" alt="Project 8">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Palace Museum</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image5" alt="Project 9">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Nanjing Presidential palace</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image11" alt="Project 10">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Nanjing</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image12" alt="Project 11">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Jixi</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image13" alt="Project 12">
        <div class="archive-item-overlay">
            <p class="archive-item-title">St.Andrews Park</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image14" alt="Project 13">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Jixi</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image15" alt="Project 14">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Brighton</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image16" alt="Project 15">
        <div class="archive-item-overlay">
            <p class="archive-item-title">St Abbs</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image17" alt="Project 16">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Edinburgh Castle</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image18" alt="Project 17">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Forth Bridge</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image1" alt="Project 18">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Appleton Tower</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image20" alt="Project 19">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Edinburgh</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image21" alt="Project 20">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Forth Bridge</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image22" alt="Project 21">
        <div class="archive-item-overlay">
            <p class="archive-item-title">New College</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image23" alt="Project 22">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Nanjing CBD</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image24" alt="Project 23">
        <div class="archive-item-overlay">
            <p class="archive-item-title">A Night in Nanjing</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image25" alt="Project 24">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Edinburgh</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image26" alt="Project 25">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Edinburgh Station</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image27" alt="Project 26">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Old College</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image28" alt="Project 27">
        <div class="archive-item-overlay">
            <p class="archive-item-title">London Eric's flat</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image29" alt="Project 28">
        <div class="archive-item-overlay">
            <p class="archive-item-title">People in Brighton</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image30" alt="Project 29">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Brighton</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image31" alt="Project 30">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Brighton</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image32" alt="Project 31">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Great British Museum</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image33" alt="Project 32">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Berwick Bridge</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image34" alt="Project 33">
        <div class="archive-item-overlay">
            <p class="archive-item-title">St Abbs</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image35" alt="Project 34">
        <div class="archive-item-overlay">
            <p class="archive-item-title">St Abbs</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image36" alt="Project 35">
        <div class="archive-item-overlay">
            <p class="archive-item-title">St Abbs</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image10" alt="Project 36">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Edinburgh</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image37" alt="Project 37">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Salisbury Court</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image38" alt="Project 38">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Jixi</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image39" alt="Project 39">
        <div class="archive-item-overlay">
            <p class="archive-item-title">Arthur's Seat Aurora</p>
            <p class="archive-item-date">2024</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image40" alt="Project 40">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image41" alt="Project 41">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image42" alt="Project 42">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image43" alt="Project 43">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image44" alt="Project 44">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <a href="#" class="archive-item">
        <img src="/Aboutme/image45" alt="Project 45">
        <div class="archive-item-overlay">
            <p class="archive-item-title">歙县</p>
            <p class="archive-item-date">2025</p>
        </div>
    </a>
    <!-- Add more items as needed -->
</div>

{{ end }}
